<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Services</title>

</head>
<body>
    <h1>Sample Apis for React Backend Service</h1>
    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - TTCG</p>
        </footer>
    </div>
    

    @RenderSection("Scripts", required: false)
</body>
</html>
